@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One:200,300,400,500,600,700,800,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/clashdisplay/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Extralight.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Light.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Light.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Bold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: #150e28;
  color: #fff;
  font-family: "Montserrat";
}

.logo {
  font-family: "ClashDisplay";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo > span:nth-of-type(2) {
  color: #d434fe;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 48px 21px 48px;
}

.navbar-main > div:nth-of-type(2) {
  align-items: center;
  gap: 121px;
}

.navbar-main ul {
  display: flex;
  align-items: center;
  gap: 56px;
}

.cta-button1,
.navbar-main > div:nth-of-type(2) > a {
  padding: 14px 46px;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

#mobile-Hamburger-menu {
  display: block;
}

.setbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setbody > div {
  max-width: 1517px;
  width: 100%;
  height: 100%;
}

.divider {
  background: rgba(255, 255, 255, 0.18);
  height: 1px;
  width: 100%;
}

.hb-d1 {
  display: flex;
  width: 100%;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  padding-right: 55px;
  padding: 31px 34px 40px 0px;
}

.hb-d1 > h5 {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 25px;
}

.hb-d1 > div {
  float: right;
  align-self: end;
  padding-top: 2px;
  padding-right: 8px;
}

.hb-d1 > div > img {
  max-width: 115px;
}

.hb2-h1 {
  font-family: "ClashDisplay";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: grid;
  text-align: center;
  white-space: nowrap;
  row-gap: 3px;
}

.hb2-h1 span {
  color: #d434fe;
}

.hbb-12 {
  padding-bottom: 397px;
  display: grid;
  justify-items: center;
}

.hbb-12 > p {
  padding-top: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 33.2px */
  max-width: 264px;
}

.hbb-12 > div:nth-of-type(2) {
  padding-top: 24px;
}

.hb-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blur1 {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

.blur2 {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: end;
  align-items: end;
}

.hb-body > div:nth-of-type(2) > div:nth-of-type(1) > img {
  filter: grayscale(0.5);
}

.unica-cont {
  padding-top: 14px;
  display: flex;
}

.unica-h4 {
  font-family: "Unica One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 85.12px */
}

.unica-h4 > span {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 18.62px */
}

.nav-hide {
  display: none;
}

.xdis {
  display: inline-flex !important;
}

.disx {
  display: none;
}

.bigIdea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  padding: 29px 34px 69px 34px;
}

.bigIdea-right {
  display: grid;
  row-gap: 8px;
  justify-items: center;
  text-align: center;
}

.heading2 {
  color: #fff;
  font-family: "ClashDisplay";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}

  .heading2 > span {
    color: #d434fe;
  }

  .pbody {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
  }

  .randg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }

  .randg > div:nth-of-type(2) {
    order: 1;
  }

  .randg > div:nth-of-type(1) {
    order: 2;
  }

@media only screen and (min-width: 1024px) {

  .randg > div:nth-of-type(2) {
    order: 2;
  }

  .randg > div:nth-of-type(1) {
    order: 1;
  }

  .randg {
    flex-direction: row;
    gap:48px;
  }

  .bigIdea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 106px;
    padding: 62px 148px 78px 240px;
  }
  
  .bigIdea-right {
    display: grid;
    column-gap: 16px;
    text-align: left;
    justify-items: flex-start;
    row-gap: unset;
  }
  
  .heading2 {
    color: #fff;
    font-family: "ClashDisplay";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
  }

  .pbody {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }

  .disx {
    display: block;
  }

  .hb-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  }

  .xdis {
    display: none !important;
  }

  #mobile-Hamburger-menu {
    display: none;
  }

  .nav-hide {
    display: flex;
  }

  .hb-body {
    flex-direction: row;
  }

  .navbar-main {
    padding: 63px 128px 25px 128px;
  }

  .logo {
    font-family: "ClashDisplay";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hb-d1 > h5 {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .hb-d1 {
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    padding-right: 55px;
    padding: 32px 32px 36px 32px;
  }

  .hb-d1 > div {
    float: right;
    padding-right: 26px;
    padding-top: 2px;
    max-width: auto;
  }

  .hb2-h1 {
    font-family: "ClashDisplay";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    text-align: left;
    white-space: nowrap;
    row-gap: 3px;
  }

  .hbb-12 {
    padding-top: 69px;
    padding-left: 128px;
    padding-bottom: 0;
    display: block;
  }

  .hbb-12 > p {
    padding-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; /* 33.2px */
    max-width: 522px;
  }

  .hbb-12 > div:nth-of-type(2) {
    padding-top: 41px;
  }

  .cta-button1,
  .navbar-main > div:nth-of-type(2) > a {
    padding: 16px 52px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
  }

  .unica-cont {
    padding-top: 77px;
    display: flex;
    padding-bottom: 95px;
  }

  .unica-h4 {
    font-family: "Unica One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%; /* 85.12px */
  }

  .unica-cont {
    padding-top: 77px;
    display: flex;
    padding-bottom: 95px;
  }

  #mobile-sidebar {
    display: none !important;
  }
}
