@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One:200,300,400,500,600,700,800,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/clashdisplay/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Extralight.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Light.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Light.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/clashdisplay/ClashDisplay-Bold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "madetommy";
  src: url("/fonts/made_tommy/mo.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #150e28;
  color: #fff;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.typewritter {
  overflow-x: hidden;
  position: relative;
  animation: type 3s linear 1s 1 normal both;
}

.typewritter > h5 {
  position: relative;
  animation: typewritter 3s linear 1s 1 normal both;
  white-space: nowrap;
}

@keyframes type {
  0% {
    border-right: 2px solid #fff;
  }
  99% {
    border-right: 2px solid #fff;
  }
  100% {
    border-right: 2px solid transparent;
  }
}

@keyframes typewritter {
  from {
    left: calc(100% + 200px);
  }

  to {
    left: 0;
  }
}

.blink {
  animation: blink 2.6s infinite;
  animation-timing-function: ease-in-out;
}

img {
  flex-shrink: 0;
}

.delay {
  animation-delay: 500ms;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section {
  overflow-x: hidden;
}

.logo {
  font-family: "ClashDisplay";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo span:nth-of-type(2) {
  color: #d434fe;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 48px 21px 48px;
}

.navbar-main > div:nth-of-type(2) {
  align-items: center;
  gap: 121px;
}

.navbar-main ul {
  display: flex;
  align-items: center;
  gap: 56px;
}

.cta-button1,
.navbar-main > div:nth-of-type(2) > a {
  padding: 14px 46px;
  font-size: 14px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

#mobile-Hamburger-menu {
  display: block;
}

.setbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setbody > div {
  max-width: 1517px;
  width: 100%;
  height: 100%;
}

.divider {
  background: rgba(255, 255, 255, 0.18);
  height: 1px;
  width: 100%;
}

.hb-d1 {
  display: flex;
  width: 100%;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  padding-right: 55px;
  padding: 31px 34px 40px 0px;
}

.hb-d1 h5 {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 25px;
}

.hb-d1 > div {
  float: right;
  align-self: end;
  padding-top: 2px;
  padding-right: 8px;
}

.hb-d1 > div > img {
  max-width: 115px;
}

.hb2-h1 {
  font-family: "ClashDisplay";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: grid;
  text-align: center;
  white-space: nowrap;
  row-gap: 3px;
}

.hb2-h1 span {
  color: #d434fe;
}

.hbb-12 {
  padding-bottom: 397px;
  display: grid;
  justify-items: center;
}

.hbb-12 > p {
  padding-top: 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 33.2px */
  max-width: 264px;
}

.hbb-12 > div:nth-of-type(2) {
  padding-top: 24px;
}

.hb-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blur1 {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

.blur2 {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: end;
  align-items: end;
}

.hb-body > div:nth-of-type(2) > div:nth-of-type(1) > img {
  filter: grayscale(0.5);
}

.unica-cont {
  padding-top: 14px;
  display: flex;
}

.unica-h4 {
  font-family: "Unica One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 85.12px */
}

.unica-h4 > span {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%; /* 18.62px */
}

.nav-hide {
  display: none;
}

.xdis {
  display: inline-flex !important;
}

.disx {
  display: none;
}

.bigIdea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  padding: 29px 34px 69px 34px;
}

.bigIdea-right,
.faqtt {
  display: grid;
  justify-items: center;
  text-align: center;
}

.bigIdea-right {
  row-gap: 8px;
}

.faqtt {
  row-gap: 6px;
}

.heading2 {
  color: #fff;
  font-family: "ClashDisplay";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
}

.heading2 > span {
  color: #d434fe;
}

.pbody {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

.randg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
  padding-bottom: 46px;
}

.randg > div:nth-of-type(2) {
  order: 1;
}

.randg > div:nth-of-type(1) {
  order: 2;
}

.vector12 {
  background-color: #150e28;
  background-image: url("/images/vector13.png");
  background-size: 1037px;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  width: 1037px;
  height: 948px;
  position: absolute;
  left: 0;
  top: 1318px;
}

.randg,
.bigIdea,
.jcka {
  position: relative;
}

.jcka {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-left: 29px;
  padding-right: 29px;
}

.jcka > div.right > div:nth-of-type(1) {
  row-gap: 16px;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.jcka-p > p > span {
  color: #ff26b9;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 173.5%; /* 22.555px */
}

.jcka-p > p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
}

.jcka-p {
  display: grid;
  row-gap: 13px;
}

.cta-button2 {
  padding: 8px 16px;
  font-size: 12px;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

.jcka > div.right > div:nth-of-type(2) {
  display: grid;
  padding-top: 20px;
  padding-bottom: 58px;
}

.faqs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 86px;
  padding-top: 60px;
  padding-bottom: 49px;
  position: relative;
}

.faqtt2 {
  padding-top: 46px;
  padding-left: 46px;
  padding-right: 46px;
  display: grid;
  row-gap: 25px;
}

.faqtt2 > div {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9px;
  border-bottom: 1px solid #d434fe;
}

.faqtt2 > div > p:nth-of-type(1) {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.5px; /* 196.429% */
}

.faqtt2 > div > p:nth-of-type(2) {
  color: #d434fe;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 137.5% */
}

/* .faqs > div:nth-of-type(1) {
  padding-left: 32px;
  padding-right: 32px;
} */

.pbody2 {
  font-size: 12px !important;
}

.faqs > div.right {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 327px;
}

.q {
  font-family: "madetommy";
  line-height: 28px;
  position: absolute;
  font-size: 40px;
  font-weight: 500;
  color: #a866fd;
}

.q-1 {
  bottom: 348px;
  left: 77px;
}

.q-2 {
  bottom: 368px;
  left: 141px;
  font-size: 64px;
  color: #d434fe;
}

.q-3 {
  bottom: 348px;
  left: 219px;
}

.timeline {
  position: relative;
  padding-top: 72px;
  padding-bottom: 83px;
  padding-left: 30px;
  padding-right: 30px;
}

.time-s1 {
  display: grid;
  justify-items: center;
  row-gap: 9px;
}

.time-s1 > h2 {
  font-family: "ClashDisplay";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%; /* 26.6px */
}

.time-s1 > p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.4%; /* 24.136px */
}

.t-cont-cover {
  display: none;
}

.t2-cont-cover {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.t2-cont {
  display: flex;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  justify-items: flex-start;
  column-gap: 8px;
}

.t2-cont > div.left {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.t2-cont > div.left > div:nth-of-type(1) {
  background: #a866fd;
  height: 100%;
  width: 2px;
}

.t2-cont > div.left > div:nth-of-type(2) {
  width: 20px;
  flex-shrink: 0;
  height: 20px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}

.t2-cont > div.right {
  display: flex;
  flex-direction: column;
}

.t2-cont > div.right h5:nth-of-type(2) {
  justify-self: end;
  display: flex;
  justify-content: end;
}

.t2-cont > div.right h5 {
  color: #d434fe;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}

.t2-cont > div.right > div > p {
  color: #fff;
  padding: 4px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.9%;
}

.right-awards h4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.right-awards > div > h4 > span {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 216.4%; /* 51.936px */
}

.award-h2 {
  color: #d434fe;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 216.4%; /* 51.936px */
}

.award-h22 {
  color: #903aff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 216.4%; /* 51.936px */
}

.frame1 {
  border-radius: 8px;
  border: 1px solid #d434fe;
  background: rgba(212, 52, 254, 0.12);
  padding: 44px 12px 24px 12px;
}

.frame12 {
  border-radius: 8px;
  border: 1px solid #903aff;
  background: rgba(144, 58, 255, 0.12);
  padding: 68px 12px 24px 12px;
}

.cd {
  left: 50%;
  transform: translateX(-50%);
}

.pag {
  position: relative;
}

.clashd {
  font-family: "ClashDisplay";
}

.line {
  background-color: #d434fe;
  height: 2px;
  width: 100%;
  max-width: 257px;
}
.linex {
  background-color: transparent;
  height: 2px;
  width: 100%;
  max-width: 257px;
}

.hline {
  width: 2px;
  flex-shrink: 0;
  background-color: #d434fe;
  height: 30px;
}

.bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.ab {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 257px;
}

.bpurp {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
}

.footRight p,
.footRight span {
  font-size: 12px;
}

.fR-left {
  display: grid;
  gap: 12px;
  padding-top: 6px;
}

.contact-container input,
.contact-container textarea,
.contact-container select {
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 12px 16px;
}

input::placeholder, select::placeholder {
  font-size: 14px;
}

.contact-container textarea {
  height: 120px;
}

.disappear {
  display: none !important;
}

a:hover,
button:hover {
  opacity: 0.8;
}

.form-one {
  display: grid;
  row-gap: 18px;
}

.form-one > div {
  display: grid;
  gap: 4px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/images/down.svg") no-repeat !important;
  background-position: right 12px center !important;
}

select::after {
  padding-right: 40px;
}

/* Hide the default checkbox */
.larger {
  width: 14px !important;
  height: 14px;
  border-radius: 2px;
  border: 2px solid #fff;
  background-color: #150e28 !important;
  padding: 0px !important;
}

label {
  font-size: 13px;
}

.form-two {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.form-two > div:nth-of-type(2) {
  max-width: 90px;
}

select {
  font-size: 12px;
  background-size: 7px !important;
}

@media only screen and (min-width: 1024px) {

  .form-two > div:nth-of-type(2) {
    max-width: none;
  }

  select {
    font-size: 16px;
    background-size: 10.5px !important;
    background-position: right 20px center !important;
  }

  .form-two > div {
    display: grid;
    gap: 12px;
  }

  .form-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  input::placeholder, select::placeholder {
    font-size: 16px;
  }

  .contact-container input,
  .contact-container textarea,
  .contact-container select {
    border-radius: 4px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 14px 28px;
  }
  .form-one > div {
    display: grid;
    gap: 12px;
  }

  label {
    font-size: 16px;
  }

  .form-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  .register-bg {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .disappear {
    display: flex !important;
  }

  .contact-bg {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .ab {
    gap: 28px;
  }

  .line {
    background-color: #d434fe;
    height: 4px;
    width: 100%;
    max-width: 257px;
  }
  .linex {
    background-color: transparent;
    height: 4px;
    width: 100%;
    max-width: 257px;
  }

  .hline {
    width: 4px;
    flex-shrink: 0;
    background-color: #d434fe;
    height: 112.476px;
  }

  .right-awards h4 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .right-awards > div > h4 > span {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 216.4%; /* 51.936px */
  }

  .award-h2 {
    color: #d434fe;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.4%; /* 51.936px */
  }

  .award-h22 {
    color: #903aff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 216.4%; /* 51.936px */
  }

  .frame1 {
    border-radius: 8px;
    border: 1px solid #d434fe;
    background: rgba(212, 52, 254, 0.12);
    padding: 111px 26px 33px 26px;
  }

  .frame12 {
    border-radius: 8px;
    border: 1px solid #903aff;
    background: rgba(144, 58, 255, 0.12);
    padding: 149px 26px 33px 26px;
  }

  .faqs > div.right {
    max-width: 731px;
  }

  .q {
    font-family: "madetommy";
    line-height: 28px;
    position: absolute;
    font-size: 96px;
    font-weight: 500;
    color: #a866fd;
  }

  .q-1 {
    bottom: auto;
    left: auto;
    top: 122px;
    right: 693px;
  }

  .q-2 {
    bottom: auto;
    left: auto;
    top: 74px;
    right: 532px;
    font-size: 128px;
    color: #d434fe;
  }

  .q-3 {
    bottom: auto;
    left: auto;
    top: 122px;
    right: 371px;
  }

  .pbody2 {
    font-size: 14px !important;
  }
  .faqs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-top: 122px;
    padding-bottom: 63px;
    padding-left: 219px;
  }

  .faqtt2 {
    padding-top: 68px;
    display: grid;
    row-gap: 25px;
    padding-left: unset;
    padding-right: unset;
  }

  .faqtt2 > div {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #d434fe;
  }

  .faqtt2 > div > p:nth-of-type(1) {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }

  .faqtt2 > div > p:nth-of-type(2) {
    color: #d434fe;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 137.5% */
  }

  .jcka {
    flex-direction: row;
    padding-left: 66px;
    padding-top: 92px;
    padding-bottom: 171px;
    gap: 53px;
  }

  .jcka > div.right > div:nth-of-type(1) {
    row-gap: 16px;
    display: grid;
    text-align: left;
    justify-items: flex-start;
    row-gap: unset;
    padding-left: 0;
    padding-right: 0;
  }

  .jcka > div.left {
    max-width: 710px;
    width: 100%;
    height: auto;
  }

  .jcka-p {
    display: grid;
    row-gap: 21px;
    padding-top: 22px;
  }

  .jcka > div.right > div:nth-of-type(2) {
    padding-top: 55px;
    padding-bottom: 0;
  }

  .jcka-p > p > span {
    color: #ff26b9;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 173.5%; /* 27.76px */
  }

  .jcka-p > p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.5%;
    max-width: 533px;
  }

  .randg > div:nth-of-type(2) {
    order: 2;
  }

  .randg > div:nth-of-type(1) {
    order: 1;
  }

  .randg {
    flex-direction: row;
    gap: 48px;
    padding-bottom: 0;
  }

  .bigIdea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 106px;
    padding: 62px 148px 78px 240px;
  }

  .bigIdea-right,
  .faqtt {
    display: grid;
    column-gap: 16px;
    text-align: left;
    justify-items: flex-start;
    row-gap: unset;
  }

  .heading2 {
    color: #fff;
    font-family: "ClashDisplay";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
  }

  .pbody {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }

  .disx {
    display: block;
  }

  .hb-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
  }

  .xdis {
    display: none !important;
  }

  #mobile-Hamburger-menu {
    display: none;
  }

  .nav-hide {
    display: flex;
  }

  .hb-body {
    flex-direction: row;
  }

  .navbar-main {
    padding: 63px 128px 25px 128px;
  }

  .logo {
    font-family: "ClashDisplay";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hb-d1 h5 {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .hb-d1 {
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    padding-right: 55px;
    padding: 32px 32px 36px 32px;
  }

  .hb-d1 > div {
    float: right;
    padding-right: 26px;
    padding-top: 2px;
    max-width: auto;
  }

  .hb2-h1 {
    font-family: "ClashDisplay";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    text-align: left;
    white-space: nowrap;
    row-gap: 3px;
  }

  .hbb-12 {
    padding-top: 69px;
    padding-left: 128px;
    padding-bottom: 0;
    display: block;
  }

  .hbb-12 > p {
    padding-top: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%; /* 33.2px */
    max-width: 522px;
  }

  .hbb-12 > div:nth-of-type(2) {
    padding-top: 41px;
  }

  .cta-button1,
  .cta-button2,
  .navbar-main > div:nth-of-type(2) > a {
    padding: 16px 52px;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
  }

  .unica-cont {
    padding-top: 77px;
    display: flex;
    padding-bottom: 95px;
  }

  .unica-h4 {
    font-family: "Unica One";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%; /* 85.12px */
  }

  .unica-cont {
    padding-top: 77px;
    display: flex;
    padding-bottom: 95px;
  }

  #mobile-sidebar {
    display: none !important;
  }
}

@media only screen and (min-width: 1280px) {
  .t2-cont {
    display: none !important;
  }

  .timeline {
    padding-top: 72px;
    padding-bottom: 109px;
  }

  .time-s1 {
    display: grid;
    justify-items: center;
    row-gap: 12px;
  }

  .time-s1 > h2 {
    font-family: "ClashDisplay";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
  }

  .time-s1 > p {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 172.4%; /* 24.136px */
    max-width: 346px;
  }

  .t-h4 {
    color: #d434fe;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .t-cont {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
  }

  .t-numb {
    position: relative;
    border-radius: 26.5px;
    background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 53px;
    width: 53px;
    margin-left: 86px;
    margin-right: 98px;
  }

  .t-cont > div.left,
  .t-cont > div.right {
    color: #fff;
    font-size: 14px;
    display: grid;
    column-gap: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 23.926px */
    width: 512px; /* for 1280px screens */
  }

  .t-cont > div.left {
    text-align: right;
    justify-items: end;
  }

  .t-numb::before {
    width: 4px;
    height: 86px;
    background-color: #a866fd;
    color: #a866fd;
  }

  .t-cont-cover {
    display: grid;
    row-gap: 108px;
    padding-top: 212px;
  }
}
